<div class="layout" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center space-around">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1 style="color: lightgray">Sign up</h1>
    </div>

    <form
      class="login-form"
      (ngSubmit)="onSignupButtonClicked()"
      #userForm="ngForm"
    >
      <mat-form-field class="login-full-width bg_light_gray" appearance="fill">
        <mat-label>Displayed name</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input
          matInput
          name="displayedName"
          class="form-control"
          required
          minlength="2"
          [(ngModel)]="user.displayedName"
          #nameInput="ngModel"
        />
        <mat-error *ngIf="nameInput.errors?.['required']"
          >Displayed name is required.
        </mat-error>
        <mat-error *ngIf="nameInput.errors?.['minlength']">
          Displayed name must be at least 2 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width bg_light_gray" appearance="fill">
        <mat-label>Login</mat-label>
        <mat-icon matPrefix> person</mat-icon>
        <input
          matInput
          name="username"
          class="form-control"
          required
          minlength="4"
          [(ngModel)]="user.username"
          #loginInput="ngModel"
        />
        <mat-error *ngIf="loginInput.errors?.['required']"
          >Name is required.
        </mat-error>
        <mat-error *ngIf="loginInput.errors?.['minlength']">
          Name must be at least 4 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-full-width bg_light_gray" appearance="fill">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input
          matInput
          name="password"
          type="password"
          class="form-control"
          required
          minlength="8"
          [(ngModel)]="user.password"
          #passwordInput="ngModel"
        />
        <mat-error *ngIf="passwordInput.errors?.['required']"
          >Password is required.
        </mat-error>
        <mat-error *ngIf="passwordInput.errors?.['minlength']">
          Name must be at least 8 characters long.
        </mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="flex-end">
        <mat-spinner
          *ngIf="loading"
          diameter="30"
          color="accent"
          class="spinner"
        ></mat-spinner>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          style="margin-top: 15px"
          [disabled]="!userForm.form.valid"
        >
          Sign up
        </button>
      </div>
    </form>
    <div>
      <br />
      <div fxLayout="row" fxLayoutAlign="center">
        <p style="color: lightgray">
          Have an account?
          <a style="color: yellow" routerLink="/login">Log in</a>
        </p>
      </div>
    </div>
  </div>
</div>
