<div class="layout" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center space-around">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1 style="color: lightgray">Login</h1>
    </div>

    <form
      class="login-form"
      (ngSubmit)="onLoginButtonClicked()"
      #userForm="ngForm"
    >
      <mat-form-field class="login-full-width bg_light_gray" appearance="fill">
        <mat-label>Login</mat-label>
        <mat-icon matPrefix> person</mat-icon>
        <input
          matInput
          name="username"
          class="form-control"
          [(ngModel)]="user.username"
          #loginInput="ngModel"
        />
      </mat-form-field>

      <mat-form-field class="login-full-width bg_light_gray" appearance="fill">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input
          name="password"
          type="password"
          matInput
          class="form-control"
          [(ngModel)]="user.password"
          #passwordInput="ngModel"
        />
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="flex-end">
        <mat-spinner
          *ngIf="loading"
          diameter="30"
          color="accent"
          class="spinner"
        ></mat-spinner>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="login-btn"
        >
          Login
        </button>
        <button
          (click)="onGoogleSignUp()"
          mat-raised-button
          color="primary"
          class="social-login-btn google-login-btn"
        >
          Google
        </button>

        <!-- (click)="onFacebookSignUp()" -->
        <button
          mat-raised-button
          color="primary"
          class="social-login-btn facebook-login-btn"
        >
          Facebook
        </button>
      </div>
    </form>
    <div>
      <br />
      <div fxLayout="row" fxLayoutAlign="center">
        <p style="color: lightgray">
          Don't have an account?
          <a style="color: yellow" routerLink="/signup">Sign up!</a>
        </p>
      </div>
    </div>
  </div>
</div>
